# Node modules (Do NOT push this, it can be installed using package.json)
node_modules/

# Build files (Generated on build, not needed in repo)
dist/
build/

# Environment variables (Sensitive data should not be exposed)
.env
.env.local
.env.development
.env.production
.env.test

# Editor & OS-specific files (Personal configs, unnecessary for repo)
.vscode/
.idea/
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies (Auto-installed)
package-lock.json
yarn.lock
